#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: lightskyblue;
  color: black;
  cursor: pointer;
  box-shadow: 3px 3px 0px darkslategrey;
  transition: box-shadow .2s ease-in-out;

  &:hover {
    box-shadow: inset 3px 3px 0px darkslategrey;
    box-shadow: 4px 4px 0px darkslategrey;
  }
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

  li {
    list-style-type: none;
    background-color: lightcyan;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 20px;
  }
}

.red {
  background-color: rgb(255, 180, 180);
  color: black;
}

.green {
  background-color: darkslategrey;
  color: lightcyan;
}

.category {
  border-bottom: 3px solid lightsteelblue;
  width: fit-content;
  margin: 0 auto;
  margin-block: 20px;
}